.catalog-features {
  padding: 0 20px;
  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }
  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.catalog-features__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: @desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
