.categories {
    min-height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: @tablet-width) {
        min-height: 774px;
    }
    @media (min-width: @desktop-width) {
        min-height: 374px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        margin: 0 110px;
    }
}

.categories__wrapper {
    min-height: 266px;
    position: relative;
    margin: 0 20px;
    background-color: @basic_grey;
    &::before {
        display: inline-block;
        content: '';
        width: 50px;
        height: 50px;
        background: @basic_green;
        border-radius: 50%;
        position: absolute;
        top: 24px;
        left: 22px;
        @media (min-width: @tablet-width) {
            width: 200px;
            height: 200px;
            top: 92px;
            left: initial;
            right: 62px;
        }
        @media (min-width: @desktop-width) {
            width: 100px;
            height: 100px;
            top: 47px;
            left: 52px;
            right: initial;
        }
    }
    @media (min-width: @tablet-width) {
        min-height: 372px;
        margin: 0 30px;
    }
    @media (min-width: @desktop-width) {
        min-height: 374px;
        margin: 0;
    }
}

.categories__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 29px;
    padding-left: 92px;
    position: relative;
    &::before {
        display: inline-block;
        content: '';
        background-repeat: no-repeat;
        position: absolute;
    }
    &--1 {
        &::before {
            background-image: url('@{images}/icon-cat-slim.svg');
            height: 50px;
            width: 50px;
            left: 29px;
            top: 21px;
        }
    }
    &--2 {
        &::before {
            background-image: url('@{images}/icon-cat-pro.svg');
            height: 50px;
            width: 67px;
            left: 13px;
            top: 35px;
        }
    }
    @media (min-width: @tablet-width) {
        font-size: 36px;
        line-height: 36px;
        padding-top: 81px;
        padding-left: 55px;
        &--1 {
            &::before {
                height: 192px;
                width: 192px;
                left: initial;
                right: 38px;
                top: 81px;
            }
        }
        &--2 {
            &::before {
                height: 268px;
                width: 268px;
                left: initial;
                right: 28px;
                top: 137px;
            }
        }
    }
    @media (min-width: @desktop-width) {
        padding-left: 214px;
        &--1 {
            &::before {
                height: 97px;
                width: 97px;
                left: 67px;
                right: initial;
                top: 41px;
            }
        }
        &--2 {
            &::before {
                height: 134px;
                width: 134px;
                left: 33px;
                right: initial;
                top: 67px;
            }
        }
    }
}

.categories__description {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: @special_dark_grey;
    margin-top: 0;
    margin-bottom: 27px;
    padding-top: 34px;
    padding-left: 21px;
    padding-right: 33px;
    @media (min-width: @tablet-width) {
        font-size: 16px;
        line-height: 24px;
        color: @black;
        margin-bottom: 59px;
        padding-top: 33px;
        padding-left: 53px;
        padding-right: 290px;
    }
    @media (min-width: @desktop-width) {
        margin-bottom: 40px;
        padding-top: 73px;
        padding-right: 53px;
    }
}

.categories__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: @black;
    padding: 21px;
    &::after {
        display: inline-block;
        content: '';
        width: 39px;
        height: 12px;
        background-image: url('@{images}/icon-right-arrow-long.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
    &:hover {
        &::after {
            width: 47px;
            height: 12px;
            background-image: url('@{images}/icon-right-arrow-verylong.svg');
        }
    }
    &:active {
        opacity: 0.6;
        &::after {
            background-image: url('@{images}/icon-right-arrow-verylong.svg');
            opacity: 0.6;
        }
    }
    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 1;
        padding: 40px 52px;
        position: absolute;
        bottom: 20px;
    }
}
