.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 27px;
  }
  &--index {
    @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
  }
  }
}


.page-header__logo {
    width: 202px;
    height: 66px;
    display: block;
    margin: 0;
    padding: 0px 20px;
    @media (min-width: @tablet-width) {
        padding: 26px 30px;
    }
    @media (min-width: @desktop-width) {
        margin: 0px 90px;
    }
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
}

.page-header__img {
    width: 192px;
    height: 66px;
    @media (min-width: @tablet-width) {
        width: 172px;
        height: 57px;
    }
    @media (min-width: @desktop-width) {
        width: 202px;
        height: 60px;
    }
}
