.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to top, @basic_grey 85%, @white 15%);
  }
}

.product__link {
  grid-column-start: span 2;
  @media (min-width: @tablet-width) {
    align-self: stretch;
  }
}

.product__title {
  width: 76px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark_grey_2;
  @media (min-width: @tablet-width) {
    width: 174px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
}
.product__title br {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @media (min-width: @tablet-width) {
    align-self: stretch;
    padding-top: 34px;
    padding-bottom: 33px;
  }
}

.product__show-more {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  @media (min-width: @tablet-width) {
    padding: 0 53px 23px;
    text-align: center;
  }
}

.product__text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: @special_dark_grey;
  margin: 0;
  @media (min-width: @tablet-width) {
    padding: 0 41px 87px;
    text-align: center;
  }
}

.product__more-link {
  color: @special_dark_grey;
  background-color: @basic_grey;
  align-self: normal;
    &:hover {
      background-color: @special_grey_2;
  }
}

.product__more-list {
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    height: 77%;
    padding: 0px 36px 38px;
    border: 2px solid #D3D3D3;
    align-self: end;
  }
}


.product__plus-mobile {
  width: 30px;
  height: 30px;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.product__plus {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    width: 60px;
    height: 60px;
    padding-bottom: 49px;
    padding-top: 52px;
  }
}
