.product {
    display: flex;
    flex-direction: row;

    @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: column;;
    }
}

// .product__link {

// }

.product__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: @special_dark_grey_2;
}

// .product__decription {

// }