.contacts__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.contacts__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: @special_dark_grey;
}