// .form {

// }

.form__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.form__list {
    list-style: none;
    // &--goal {
    
    // }
    // &--contacts {

    // }
    // &--extra {

    // }
}

// .form__item {

// }

.form__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark_grey;
    &--goal {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark_grey_2;
    }
    &--extra {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark_grey_2;
    }
    // &--email {

    // }
    // &--phone {

    // }
}

.form__input {
    &--text {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark_grey;
    }
    // &--radio {

    // }
    // &--checkbox {

    // }
}

// .form__fieldset {
//     &--contacts {

//     }
//     &--comment {

//     }
//     &--extra {

//     }
// }

.form__legend {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    // &--contacts {

    // } ЗЕЛЕНАЯ ЛИНИЯ
    // &--comment {

    // }
}

.form__textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark_grey;
}

// .form__checkbox {

// }

.form__button {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: @black; //white
}

.form__extra-legend {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}